﻿{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}SpeedyVenues{% endblock title %}</title>
    <!-- meta info -->
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta name="keywords" content="Venues, Search Venues, Find Venues, SpeedyVenues" />
    <meta name="description" content="Find Venues and their real time availability.">
    <meta name="author" content="FlowTechnologies.org">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300' rel='stylesheet' type='text/css'>
    <!-- Bootstrap styles -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <!-- Font Awesome styles (icons) -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <!-- Main Template styles -->
    <link rel="stylesheet" href="{% static "website/css/styles.css" %}">
    <!-- IE 8 Fallback -->
    <!--[if lt IE 9]>
        <link rel="stylesheet" type="text/css" href="{% static "venueApp/ie.css" %}" />
    <![endif]-->
    <!-- Your custom styles (blank file) -->
    <link rel="stylesheet" href="{% static "website/css/mystyles.css" %}">
    <link rel="stylesheet" href="{% static "website/css/schemes/victoria.css" %}">

    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>

    <script type="text/javascript">
        function onFormSubmitSuccess(resultControlID) {
            $('#' + resultControlID).html('Thanks. We will contact you soon.');
            $('#' + resultControlID).removeClass("alert-danger");
            $('#' + resultControlID).addClass("alert-success");
            $('#' + resultControlID).show();
        }

        function onFormSubmitFailure(resultControlID) {
            $('#' + resultControlID).html('Unable to connect to server.');
            $('#' + resultControlID).removeClass("alert-success");
            $('#' + resultControlID).addClass("alert-danger");
            $('#' + resultControlID).show();
        }
    </script>
</head>
<body class="Wide">{% block body %}

    <div class="global-wrap">

        <!-- //////////////////////////////////
        //////////////MAIN HEADER/////////////
        ////////////////////////////////////-->
        <header class="main main-white">
            <div class="container">
                <div class="row">
                    <div class="col-md-2 col-sm-2 col-xs-2">
                        <a href="/" class="logo">
                            <img src="{% static "website/img/logo.png" %}"></a>
                    </div>
                    <div class="col-md-10 col-sm-10 col-xs-10">
                        <div class="flexnav-menu-button" id="flexnav-menu-button" style="background-color:transparent"></div>
                        <nav>
                            <ul class="nav nav-pills flexnav header-features" id="flexnav" data-breakpoint="800" style="float:right;">
                                <li>
                                    <a href="/Home/HowItWorks">How it works</a>
                                </li>
                                <li>
                                    <a class="popup-text" href="#AddYourVenue-dialog" data-effect="mfp-move-from-top">
                                        <div style="margin-top:7px;">
                                            <i class="fa fa-plus"></i>
                                            <div class="header-feature-caption">
                                                <h5 class="header-feature-title">Add your venue</h5>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a class="popup-text" href="#RequestACall-dialog" data-effect="mfp-move-from-top">
                                        <div style="margin-top:7px;">
                                            <i class="fa  fa-calendar"></i>
                                            <div class="header-feature-caption">
                                                <h5 class="header-feature-title">Request a Call</h5>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="tel:+91-7838024674">
                                        <div style="margin-top:7px;">
                                            <i class="fa fa-phone"></i>
                                            <div class="header-feature-caption">
                                                <h5 class="header-feature-title">+91-7838024674</h5>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                            <!-- <ul class="header-features">
                                    <li>
                                        <a href="/">
                                            <div>
                                                <i class="fa fa-plus"></i>
                                                <div class="header-feature-caption">
                                                    <h5 class="header-feature-title">Add your venue</h5>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/">
                                            <div>
                                                <i class="fa  fa-calendar"></i>
                                                <div class="header-feature-caption">
                                                    <h5 class="header-feature-title">Request a Call</h5>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="tel:+919898989898">
                                            <div>
                                                <i class="fa fa-phone"></i>
                                                <div class="header-feature-caption">
                                                    <h5 class="header-feature-title">+919898989898</h5>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>-->
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <div id="AddYourVenue-dialog" class="mfp-with-anim mfp-hide mfp-dialog clearfix" >
                <i class="fa fa-edit dialog-icon"></i>
                <h3>Are you a venue owner?</h3>
                <h5 style="color:orange">Let us help you to show it to the world.</h5>
                <div class="dialog-form">
                    <label id="AddAVenueResult" class="alert" style="display:none"></label>
                    <div class="form-group">
                        <label>Name</label>
                        <input id="NameOfUser" name="NameOfUser" type="text" placeholder="Amitabh Bachchan" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Phone Number</label>
                        <input id="PhoneNumber" name="PhoneNumber" type="text" placeholder="9810098100" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>E-mail</label>
                        <input id="EmailAddress" name="EmailAddress" type="text" placeholder="email@domain.com" class="form-control">
                    </div>
                    <input type="submit" value="Submit" class="btn btn-primary pull-right">
                </div>
        </div>

        <div id="RequestACall-dialog" class="mfp-with-anim mfp-hide mfp-dialog clearfix">
                <i class="fa fa-edit dialog-icon"></i>
                <h3>Need help to finalize a venue?</h3>
                <h5 style="color:orange">We ask you less, give you more.</h5>
                <div class="dialog-form">
                    <label id="RequestACallResult" class="alert" style="display:none"></label>
                    <div class="form-group">
                        <label>Name</label>
                        <input id="NameOfUser" name="NameOfUser" type="text" placeholder="Amitabh Bachchan" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Phone Number</label>
                        <input id="PhoneNumber" name="PhoneNumber" type="text" placeholder="9810098100" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>E-mail</label>
                        <input id="EmailAddress" name="EmailAddress" type="text" placeholder="email@domain.com" class="form-control">
                    </div>
                    <input type="submit" value="Submit" class="btn btn-primary pull-right">
                </div>
        </div>

        <!-- END LOGIN REGISTER LINKS CONTENT -->
        <!-- SEARCH AREA -->
        <form action="/search" method="post">
        {% csrf_token %}
            <div class="search-area form-group">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 clearfix">
                            <label>
                                <i class="fa fa-search"></i><span>I am searching for</span>
                            </label>
                            <div class="search-area-division search-area-division-input">
                            {{ form.venueType }}
                            </div>
                        </div>
                        <div class="col-md-3 clearfix">
                            <label>
                                <i class="fa fa-map-marker"></i><span>In</span>
                            </label>
                            <div class="search-area-division search-area-division-location">
                            {{ form.venueLocation }}
                            </div>
                        </div>
                        <div class="col-md-1">
                            <button class="btn btn-block btn-white search-btn" type="submit">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!-- END SEARCH AREA -->
        
        {% comment %}<div id="AddYourVenue-dialog" class="mfp-with-anim mfp-hide mfp-dialog clearfix">
              @using (Ajax.BeginForm("AddAVenue", "UserForms", new AjaxOptions { OnSuccess = "onFormSubmitSuccess('AddAVenueResult')", OnFailure = "onFormSubmitFailure('AddAVenueResult')" }))
            {
                <i class="fa fa-edit dialog-icon"></i>
                <h3>Are you a venue owner?</h3>
                <h5 style="color:orange">Let us help you to show it to the world.</h5>
                <div class="dialog-form">
                    <label id="AddAVenueResult" class="alert" style="display:none"></label>
                    <div class="form-group">
                        <label>Name</label>
                        <input id="NameOfUser" name="NameOfUser" type="text" placeholder="Amitabh Bachchan" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Phone Number</label>
                        <input id="PhoneNumber" name="PhoneNumber" type="text" placeholder="9810098100" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>E-mail</label>
                        <input id="EmailAddress" name="EmailAddress" type="text" placeholder="email@domain.com" class="form-control">
                    </div>
                    <input type="submit" value="Submit" class="btn btn-primary pull-right">
                </div>
            }
        </div>

        <div id="RequestACall-dialog" class="mfp-with-anim mfp-hide mfp-dialog clearfix">
              @using (Ajax.BeginForm("RequestACall", "UserForms", new AjaxOptions { OnSuccess = "onFormSubmitSuccess('RequestACallResult')", OnFailure = "onFormSubmitFailure('RequestACallResult')" }))
            {
                <i class="fa fa-edit dialog-icon"></i>
                <h3>Need help to finalize a venue?</h3>
                <h5 style="color:orange">We ask you less, give you more.</h5>
                <div class="dialog-form">
                    <label id="RequestACallResult" class="alert" style="display:none"></label>
                    <div class="form-group">
                        <label>Name</label>
                        <input id="NameOfUser" name="NameOfUser" type="text" placeholder="Amitabh Bachchan" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Phone Number</label>
                        <input id="PhoneNumber" name="PhoneNumber" type="text" placeholder="9810098100" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>E-mail</label>
                        <input id="EmailAddress" name="EmailAddress" type="text" placeholder="email@domain.com" class="form-control">
                    </div>
                    <input type="submit" value="Submit" class="btn btn-primary pull-right">
                </div>
            }
        </div>

        <!-- END LOGIN REGISTER LINKS CONTENT -->
        <!-- SEARCH AREA -->
         @using (Html.BeginForm("Index", "Search", new { query = @Request.QueryString["query"] }, FormMethod.Get))
        {
            <div class="search-area form-group">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 clearfix">
                            <label>
                                <i class="fa fa-search"></i><span>I am searching for</span>
                            </label>
                            <div class="search-area-division search-area-division-input">
                                @Html.DropDownList("venueType", new SelectList(SpeedyVenues.WebPortal.Helpers.SearchDropDownHelper.Occasions), new { Class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-3 clearfix">
                            <label>
                                <i class="fa fa-map-marker"></i><span>In</span>
                            </label>
                            <div class="search-area-division search-area-division-location">
                                @Html.DropDownList("venueLocation", new SelectList(SpeedyVenues.WebPortal.Helpers.SearchDropDownHelper.Locations), new { Class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-1">
                            <button class="btn btn-block btn-white search-btn" type="submit">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        }
        <!-- END SEARCH AREA -->
        <!--  @RenderBody()-->
        {% endcomment %}
        <!-- //////////////////////////////////
        //////////////END PAGE CONTENT/////////
        ////////////////////////////////////-->
        <!-- //////////////////////////////////
        //////////////MAIN FOOTER//////////////
        ////////////////////////////////////-->
        <footer class="main" id="main-footer">
            <div class="footer-copyright">
                <div class="container">
                    <div class="row" style="margin-top:10px;">
                        <div class="col-md-4">
                            <a href="/Home/About" class="text-bigger">About Us</a><br />
                            <a href="/Home/HowItWorks" class="text-bigger">How it works</a>
                        </div>
                        <div class="col-md-4">
                            <a href="/">Privacy Policy</a><br />
                            <a href="/">Terms</a>
                        </div>
                        <div class="col-md-4">
                            <ul class="list list-social pull-right">
                                <li>
                                    <a class="fa fa-facebook box-icon" href="#" data-toggle="tooltip" title="Facebook"></a>
                                </li>
                                <li>
                                    <a class="fa fa-twitter box-icon" href="#" data-toggle="tooltip" title="Twitter"></a>
                                </li>
                                <li>
                                    <a class="fa fa-linkedin box-icon" href="#" data-toggle="tooltip" title="LinkedIn"></a>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <p style="text-align:center">Copyright © 2014, SpeedyVenues LLP, All Rights Reserved</p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- //////////////////////////////////
        //////////////END MAIN  FOOTER/////////
        ////////////////////////////////////-->
        <!-- Scripts queries -->
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script src="{% static "website/js/flexnav.min.js" %}"></script>
        <script src="{% static "website/js/magnific.js" %}"></script>               
        <script src="{% static "website/js/ionrangeslider.js" %}"></script>
        <script src="{% static "website/js/fotorama.js" %}"></script>
        <script src="{% static "website/js/owl-carousel.js" %}"></script>
        <script src="{% static "website/js/masonry.js" %}"></script>
        <script src="{% static "website/js/nicescroll.js" %}"></script>
        <!-- Custom scripts -->
        <script src="{% static "website/js/custom.js" %}"></script>
        <script src="{% static "website/js/jquery-1.11.3.min.js" %}"></script>
        

        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-62945908-1', 'auto');
            ga('send', 'pageview');

        </script>
    </div>
    {% endblock body %}
</body>
</html>