/*YOUR CUSTOM STYLES*/
.squareheading {
    font-size: 28px;
    text-transform: uppercase;
    margin-top: 0px;
    font-weight: bold;
    border: 4px solid #444;
    border-radius: 2px;
    display: inline-block;
    padding: 11px;
    margin-bottom: 60px;
    padding-top:20px;
}

.howitworksdata {
   font-size: 30px;
}

.searchpageribbon {
    border-color: #4f43a8 transparent transparent;
    border-style:solid;
    border-width: 20px;
    height:0px;
    width:0px; 
}

.l-triangle-top {
    margin-left:-20px;
    float: left; 
    margin-right:-24px;
}
                                                                               
.l-triangle-bottom{
    border-color: transparent transparent #4f43a8;
    margin-left: -19px;
    margin-right: -24px;
    float: left;
    margin-top: -10px;
}

.r-triangle-top {
    float: right;
    margin-right:-20px;
    margin-top:-30px;
}

.r-triangle-bottom {
    border-color: transparent transparent #4f43a8;
    float: right;
    margin-top: -40px;
    margin-right:-40px;
}                                                                     